<h2>Esta es la lista de los productos agregados hasta el momento</h2>
{{#each listProduct}}
    <ul>
        <li>{{title}}</li>
        <li>{{description}}</li>
        <li>{{price}}</li>
        <li>{{code}}</li>
        <li>{{stock}}</li>
    </ul>
{{/each}}